@import 'tailwindcss';

.class-label {
  color: #254d55;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  span {
    color: #ff0000;
  }
}

.class-input {
  border-radius: 1rem;
  border: 1px solid #a1a1a1;
  background-color: transparent;
  color: #000000;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1rem;
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  margin-top: 0.25rem;
  &::placeholder {
    color: #a1a1a1;
  }

  &:focus {
    outline: none;
    border: 1px solid #00000061;
  }
}
